<nav>
    <% 
        const userRole = (role || authenticatedUser?.role);
    %>
    <% if ((Array.isArray(userRole) && userRole.includes("admin")) || userRole === "admin") { %>
        <a href="/session_timetable">Session Timetable</a>
        <a href="/blog">Blog Posts</a>
        <a href="/user">Manage Users</a>
        <a href="/session">Manage Sessions</a>
        <a href="/activity">Manage Activities</a>
        <a href="/location">Manage Locations</a>
        <a href="/blog/blog_posts">Manage Blog Posts</a>
        <a href="/booking">Manage Bookings</a>
    <% } %>
    <% if ((Array.isArray(userRole) && userRole.includes("trainer")) || userRole === "trainer") { %>
        <a href="/session_timetable">Session Timetable</a>
        <a href="/blog">Blog Posts</a>
    <% } %>
    <% if ((Array.isArray(userRole) && userRole.includes("member")) || userRole === "member") { %>
        <a href="/session_timetable">Session Timetable</a>
        <a href="/booking/my_bookings">My Bookings</a>
        <a href="/blog">Blog Posts</a>
    <% } %>
</nav>